body{
    font-family: var(--font-family);
}
.button{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffebfc;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: linear-gradient(90deg, #ff5b9d 0%, #c2035c 100%);
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position 0.3s ease;
    width: 100%;
    padding: 23px 0px;
    text-wrap: nowrap;
}
.button:hover{
    background-position: 100% 0;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.main.index{
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: #730a41 url("../images/main-index-bg.png") no-repeat center;
    background-size: cover;

    padding: 150px 90px 50px;
    position: relative;
}
.index-content{
    max-width: 822px;
    position: relative;
    z-index: 2;
}
.index-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 125%;
    text-transform: uppercase;
    color: #92027A;
    margin-bottom: 50px;
}
.index-buttons {
    max-width: 552px;
    border-radius: 30px;
    background: #ff9bc6;
    opacity: 0.75;
    padding: 35px;
    display: flex;
    flex-direction:  column;
    row-gap: 30px;
    margin-bottom: 30px;
}

.index-footer {
    margin-top: 20%;
    border-radius: 100px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* для iOS Safari */

    background: #FF9BC6;
    opacity: 0.75;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-socials {
    border-radius: 100px;
    padding: 14px 15px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    background: #FF9BC6;
    max-width: 238px;
    box-shadow: 4px 2px 10px 0 rgba(87, 9, 77, 0.5);
    margin-right: 30px;
}
.index-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.index-footer-link {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}
.index-footer-link:hover{
    color: #730a41;
}
.index-img {
    /*aspect-ratio: 656 / 1065;*/
    position: absolute;
    bottom: 0;
    right: -68px;
    z-index: 1;
    height: 95%;
    max-height: 1050px;
}
.index-text{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #92027A;
    max-width: 552px;
}


.main.soul{
    min-height: 100vh;
    background: #730a41 url("../images/soul-bg.png") no-repeat center;
    background-size: cover;

    position: relative;
}
.main.soul .container{
    margin: 0 auto;
    width: 100%;
    max-width: 897px;
    padding: 50px 0;
}
.soul-img{
    height: 90%;
    max-height: 774px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.input-box{
    border-radius: 30px;
    padding: 35px;
    width: 100%;
    max-width: 435px;
    background: linear-gradient(90deg, #ffaccd 0%, #ff8ac0 100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.input{
    text-align: center;
    width: 100%;
    padding: 23px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}
.input::placeholder{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}


.soul-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 45px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #92027A;
    margin-bottom: 60px;
}

.table-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #92027A;
    margin-bottom: 40px;
}

.pifagor-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.table-text{
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #92027A;
    margin-bottom: 30px;
}
.table-button{
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
}
.pifagor-table-item {
    padding: 15px 0;
    box-shadow: inset 1px 1px 6px 0 rgba(87, 9, 77, 0.3);
    background: #e14686;
}
.pifagor-table-item.mark {
    background: rgba(255, 223, 237, 0.8);
}
.pifagor-table-item.mark .pifagor-table-item-text{
    color: #92027A;
}
.pifagor-table-item.mark .pifagor-table-item-title{
    color: #92027A;
}
.pifagor-table-item-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.pifagor-table-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #fff;
}
.soul-content:last-child{
    margin-top: 70px;
}
.soul-wrapper{
    display: none;
}














